* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 195, 195);

    .header-wrapper {
        display: flex;
        height: 10vh;
        padding: 30px 0;
        justify-content: center;
        gap: 30px;

        .button {
            background-color: gainsboro;
            border: none;
            width: 200px;
            cursor: pointer;
        }

        .todo-input {
            width: 800px;
        }
    }

    .todos-container {
        display: flex;
        justify-content: center;

        .todos-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 20px;

            .todo-wrapper {
                min-height: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 600px;
                padding: 0 20px;
                border: 1px solid gainsboro;
                border-radius: 10px;

                .button {
                    background-color: gainsboro;
                    border: none;
                    width: 100px;
                    height: 60px;
                    cursor: pointer;
                }


                &.complete {
                    border: 1px solid greenyellow;
                    opacity: 0.6;

                    .button.ok {
                        cursor: auto;
                    }

                    .button.delete {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}