* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-wrapper {
        width: 600px;
        height: 350px;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;

        .input {
            height: 40px;

            &.error {
                border: 1px solid red;
            }
        }

        label {
            font-size: 25px;
        }

        button {
            height: 40px;
            border: none;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}