<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.scss">
</head>

<body>
    <section class="login-container" id="login-container">
        <div class="login-wrapper">
            <label for="login-input">Login:</label>
            <input type="text" id="login-input" class="input">

            <label for="password-input">Password:</label>
            <input type="password" id="password-input" class="input">

            <button id="login-button">LOGIN</button>
        </div>
    </section>

    <script src="./login.js" type="module"></script>
</body>

</html>