<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dashboard.scss">
</head>

<body>
    <section class="dashboard-container" id="dashboard-container">
        <div class="logout-button"><button id="log-out">Log out</button></div>
        <div id="dashboard-wrapper" class="dashboard-wrapper">
            <div class="dashboard-header">
                <h1>Dashboard</h1>
                <button id="add-user-btn">+</button>
            </div>

            <div class="data-list" id="data-list"></div>
        </div>

        <div class="modal-window edit hidden" id="modal-window-edit">
            <div class="modal-form">
                <label for="edit-name">Name:</label>
                <input type="text" id="edit-name">

                <label for="edit-surname">Surname:</label>
                <input type="text" id="edit-surname">
            </div>

            <div class="buttons">
                <button id="edit-cancel" class="btn-secondary">Cancel</button>
                <button id="edit-save">Save</button>
            </div>
        </div>

        <div class="modal-window delete hidden" id="modal-window-delete">
            <div class="modal-form">
                <div id="delete-text"></div>
            </div>

            <div class="buttons">
                <button id="delete-cancel" class="btn-secondary">Cancel</button>
                <button id="delete-save">Delete</button>
            </div>
        </div>

        <div class="modal-window hidden" id="modal-window-add">
            <div class="modal-form">
                <label for="add-name">Name:</label>
                <input type="text" id="add-name">

                <label for="add-surname">Surname:</label>
                <input type="text" id="add-surname">

                <label for="add-login">Login:</label>
                <input type="text" id="add-login">

                <label for="add-admin">Is Admin:</label>
                <input type="checkbox" id="add-admin">
            </div>

            <div class="buttons">
                <button id="add-cancel" class="btn-secondary">Cancel</button>
                <button id="add-save">Save</button>
            </div>
        </div>
    </section>

    <script src="./dashboard.js" type="module"></script>
</body>

</html>